*.so
*build/
*target/
image_content/permissions_change_module/foo
rpm/dependencies
tests/foo
rpm/tests/*.key
rpm/tests/*.crt
.pytest_cache/*
.pytest_cache
rpm/src/__pycache__
rpm/__pycache__
rpm/.pytest_cache
*.tgz
design-rule*
null/*
null
design-rule*
capture*
usecases
test-output
.bob.env
build
adp-helm-dr-checker
.pip
.bob
.pip/*
.bob/*
__pycache__/
*.pyc
rpm/src/permissions_change_module/permissions_change.c
rpm/src/permissions_change_module/permissions_changer
rpm/src/permissions_change_module/foo
rpm/tests/serverp.key
rpm/tests/foo
rpm/src/foo